@font-face {
  font-family: 'Orbitron';
  src: url('fonts/Orbitron-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
  border: 3px solid darkslategray;
  border-radius: 15px;
  overflow: hidden;
}

#calculatorScreen {
  display: flex;
  flex-direction: column;
  height: 100px;
  background-color: gray;
  padding: 0 5px;
  font-family: 'Orbitron', sans-serif;
  font-size: 48px;
  color: white;
}

#calculatorScreenTop {
  display: flex;
  align-items: end;
  justify-content: end;
  color: lightgray;
  font-size: 24px;
  height: 40%; 
}

#calculatorScreenBottom {
  display: flex;
  align-items: end;
  justify-content: end;
  margin-bottom: 10px;
  height: 60%;
}

.calculatorRow {
  width: 300px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  background-color: #E8E8E8;
  border: 1.5px solid #C8C8C8;
}

button:enabled:hover {
  background-color: #C8C8C8;
}
